<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>Sign up</title>
  <link rel="stylesheet" th:href="@{/css/sign-in.css}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body>

  <form class="form-signin" th:action="@{/user/signup/save}" th:object="${user}" method="post">

    <img class="mb-4" th:src="@{/img/yelp.png}" alt="" width="102" height="65">
    <h1 class="h3 mb-3 font-weight-normal">Sign up to Yelp</h1>
    <label for="uid" class="sr-only">Name</label>
    <input type="text" name="id" th:field="*{name}" class="form-control" placeholder="Enter your name" required autofocus>
    <label for="password" class="sr-only">Password</label>
    <input type="password" name="password" th:field="*{password}" class="form-control" placeholder="Enter your password" required>


    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    <div class="alert alert-danger" role="alert" th:if="${result}">
      <span th:text="${result} + ', please try again'"></span>
    </div>
  </form>

</body>

</html>
