.result-ul .single-result{
  list-style-type: none;
  margin: 2% 25%;
}

.head {
  padding: 3% 15%;
  text-align: center;
}

.single-result {
  font-size: 18px;
}

.name {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.address {
  font-size: 14px;
  color: #888;
}
